@import "tailwindcss";

html {
    background-color: black;
    overflow-x: hidden;
    height: 500vh;
    cursor: none !important;
}


.home-front {
    @apply w-screen bg-black 
}

.navigation-head {
    @apply w-full h-[30%] bg-amber-600 px-[2%] py-[2%] flex max-md:block justify-between
}