@import "tailwindcss";
@plugin "daisyui";

html {
    background-color: oklch(97.466% 0.011 259.822);
    overflow-x: hidden;
    color: oklch(19.616% 0.063 257.651);
    scrollbar-color: oklch(19.616% 0.063 257.651) oklch(97.466% 0.011 259.822); 
    scrollbar-width: thick;
}

@plugin "daisyui/theme" {
  name: "winter";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(97.466% 0.011 259.822);
  --color-base-300: oklch(93.268% 0.016 262.751);
  --color-base-content: oklch(41.886% 0.053 255.824);
  --color-primary: oklch(56.86% 0.255 257.57);
  --color-primary-content: oklch(91.372% 0.051 257.57);
  --color-secondary: oklch(42.551% 0.161 282.339);
  --color-secondary-content: oklch(88.51% 0.032 282.339);
  --color-accent: oklch(59.939% 0.191 335.171);
  --color-accent-content: oklch(11.988% 0.038 335.171);
  --color-neutral: oklch(19.616% 0.063 257.651);
  --color-neutral-content: oklch(83.923% 0.012 257.651);
  --color-info: oklch(88.127% 0.085 214.515);
  --color-info-content: oklch(17.625% 0.017 214.515);
  --color-success: oklch(80.494% 0.077 197.823);
  --color-success-content: oklch(16.098% 0.015 197.823);
  --color-warning: oklch(89.172% 0.045 71.47);
  --color-warning-content: oklch(17.834% 0.009 71.47);
  --color-error: oklch(73.092% 0.11 20.076);
  --color-error-content: oklch(14.618% 0.022 20.076);
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}



:root {
  --h1-size: clamp(2rem, 10vw + 2rem, 20rem);
  --h2-size: clamp(1.5rem, 5vw + 0.5rem, 4rem);
  --h3-size: clamp(1rem, 2.2vw + 0.3rem, 3.5rem);

  --h4-size: clamp(1rem, 2vw + 0.2rem, 1.25rem);
  --p-size: clamp(0.9rem, 1.5vw + 0.1rem, 1rem);
  --h5-size: clamp(0.7rem, 1vw + 0.08rem, 0.85rem);
}

h1 {
  font-size: var(--h1-size);
  line-height: 1;
}

h2 {
  font-size: var(--h2-size);
  line-height: 1;
}

h3 {
  font-size: var(--h3-size);
  line-height: 1;
}

h4 {
  font-size: var(--h4-size);
  line-height: 1;
}

h5 {
  font-size: var(--h5-size);
  line-height: 1;
}

p {
  font-size: var(--p-size);
  line-height: 1;
}

.merienda {
  font-family: "Merienda", cursive, sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.lato {
  font-family: "Lato", sans-serif;
  font-style: normal;
}



@font-face {
  font-family: 'scriptoria';
  src: url('/public/fonts/scriptoria/Scriptoria.ttf') format('truetype');
}
 :root {
  --font-scriptoria: 'scriptoria', serif;
 }


html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important; /* Disable native smooth scroll */
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

/* body, html, button {
  cursor: none !important;
}
 */

 button {
    cursor: pointer;
 }

.home-front {
    @apply w-screen bg-black 
}

.navigation-head {
    @apply w-full h-10 z-1 outline-1 px-[2%] py-[2%] fixed top-0 flex items-center
}

.front-section {
  background: linear-gradient(to top, #000000 0%, #000000 10%, #11111100 60%);
  @apply w-full h-screen;
}

