@import "tailwindcss";
@plugin "daisyui";

html {
    background-color: oklch(67.892% 0.11152 63.492);
    overflow-x: hidden;
    height: 1000vh;
}

@plugin "daisyui/theme" {
  name: "retro";
  default: false;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(91.637% 0.034 90.515);
  --color-base-200: oklch(88.272% 0.049 91.774);
  --color-base-300: oklch(67.892% 0.11152 63.492);
  --color-base-content: oklch(41% 0.112 45.904);
  --color-primary: oklch(80% 0.114 19.571);
  --color-primary-content: oklch(39% 0.141 25.723);
  --color-secondary: oklch(92% 0.084 155.995);
  --color-secondary-content: oklch(44% 0.119 151.328);
  --color-accent: oklch(68% 0.162 75.834);
  --color-accent-content: oklch(41% 0.112 45.904);
  --color-neutral: oklch(44% 0.011 73.639);
  --color-neutral-content: oklch(86% 0.005 56.366);
  --color-info: oklch(58% 0.158 241.966);
  --color-info-content: oklch(96% 0.059 95.617);
  --color-success: oklch(51% 0.096 186.391);
  --color-success-content: oklch(96% 0.059 95.617);
  --color-warning: oklch(64% 0.222 41.116);
  --color-warning-content: oklch(96% 0.059 95.617);
  --color-error: oklch(70% 0.191 22.216);
  --color-error-content: oklch(40% 0.123 38.172);
  --radius-selector: 0.25rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}




:root {
  --h1-size: clamp(2rem, 10vw + 2rem, 20rem);
  --h2-size: clamp(1.5rem, 5vw + 1rem, 4rem);
  --h3-size: clamp(1.2rem, 3vw + 0.25rem, 1.5rem);

  --h4-size: clamp(1rem, 2.5vw + 0.2rem, 1.25rem);
  --p-size: clamp(0.9rem, 1.5vw + 0.1rem, 1rem);
  --h5-size: clamp(0.7rem, 1vw + 0.08rem, 0.85rem);
}

h1 {
  font-size: var(--h1-size);
  line-height: 1;
}

h2 {
  font-size: var(--h2-size);
  line-height: 1;
}

h3 {
  font-size: var(--h3-size);
  line-height: 1;
}

h4 {
  font-size: var(--h4-size);
  line-height: 1;
}

h5 {
  font-size: var(--h5-size);
  line-height: 1;
}

p {
  font-size: var(--p-size);
  line-height: 1;
}

.merienda {
  font-family: "Merienda", cursive, sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.lato {
  font-family: "Lato", sans-serif;
  font-style: normal;
}



@font-face {
  font-family: 'scriptoria';
  src: url('/public/fonts/scriptoria/Scriptoria.ttf') format('truetype');
}
 :root {
  --font-scriptoria: 'scriptoria', serif;
 }


html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important; /* Disable native smooth scroll */
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

/* body, html, button {
  cursor: none !important;
}
 */

 button {
    cursor: pointer;
 }

.home-front {
    @apply w-screen bg-black 
}

.navigation-head {
    @apply w-full h-10 z-1 outline-1 px-[2%] py-[2%] fixed top-0 flex items-center
}

.front-section {
  background: linear-gradient(to top, #000000 0%, #000000 10%, #11111100 60%);
  @apply w-full h-screen;
}

