@import "tailwindcss";

html {
    background-image:  var(--color-primary);
    overflow-x: hidden;
    color: oklch(19.616% 0.063 257.651);
    scrollbar-color: oklch(19.616% 0.063 257.651) oklch(97.466% 0.011 259.822); 
    scrollbar-width: thick;
    scroll-behavior: smooth;
}

:root {
  --color-primary: #EFECE3;
  --color-secondary:#000000;
  --color-accent: #4A70A9;

  --h1-size: clamp(2.5rem, 7vw, 8rem);
  --h2-size: clamp(2rem, 5vw, 3rem);
  --h3-size: clamp(1.75rem, 4vw, 2.5rem);
  --h4-size: clamp(1.5rem, 3vw, 2rem);
  --h5-size: clamp(1.15rem, 2.5vw, 1.5rem);
  --p-size: clamp(0.85rem, 2vw, 1rem);
}


h1 {
   font-size: var(--h1-size);
   line-height: 1; 
}
h2 {
   font-size: var(--h2-size);
   line-height: 1; 
}
h3 {
   font-size: var(--h3-size);
   line-height: 1; 
}
h4 {
   font-size: var(--h4-size);
   line-height: 1; 
}
h5 {
   font-size: var(--h5-size);
}
p {
  font-size: var(--p-size);
}

.section-box {
  @apply border-b border-black/20
}

.section-title {
  color: #181823;
  font-family: "Roboto", sans-serif;
  @apply font-light uppercase tracking-widest pl-2 lg:pl-10 border-b border-black/20
}
.inner-section {
  @apply w-full md:w-[70%] xl:w-[60%] pt-10 pb-[10vh] px-2 mx-auto border-x border-black/20
}

.hero-name {
  font-size: clamp(6rem, 6vw + 1em, 25rem);

  @apply font-extralight tracking-[-6px] leading-none
}

.footer-name {
  font-size: clamp(2.5rem, 8vw, 10rem);
  
  @apply text-nowrap
}

.cursor-effect {
  
  @apply p-1
}


.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
}

.fredoka {
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
}

.charm {
  font-family: "Charm", cursive;
 font-optical-sizing: auto;
}

@font-face {
  font-family: 'scriptoria';
  src: url('/public/fonts/scriptoria/Scriptoria.ttf') format('truetype');
}
 :root {
  --font-scriptoria: 'scriptoria', serif;
 }

.scriptoria {
  font-family: var(--font-scriptoria);
 }

html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

 button {
    cursor: pointer;
 }

