@import "tailwindcss";

html {
    background-color: white;
    overflow-x: hidden;
    color: white;
    height: 1000vh;
}


:root {
  --h1-size: clamp(2rem, 10vw + 2rem, 20rem);
  --h2-size: clamp(1.5rem, 5vw + 1rem, 4rem);
  --h3-size: clamp(1.2rem, 3vw + 0.25rem, 1.5rem);

  --h4-size: clamp(1rem, 2.5vw + 0.2rem, 1.25rem);
  --p-size: clamp(0.9rem, 1.5vw + 0.1rem, 1rem);
  --h5-size: clamp(0.7rem, 1vw + 0.08rem, 0.85rem);
}

h1 {
  font-size: var(--h1-size);
}

h2 {
  font-size: var(--h2-size);
}

h3 {
  font-size: var(--h3-size);
}

h4 {
  font-size: var(--h4-size);
}

h5 {
  font-size: var(--h5-size);
}

p {
  font-size: var(--p-size);
}

html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important; /* Disable native smooth scroll */
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}


.zalando{
  font-family: "Zalando Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.silk-regular {
  font-family: "Silkscreen", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.silk-bold {
  font-family: "Silkscreen", sans-serif;
  font-weight: 700;
  font-style: normal;
}


/* body, html, button {
  cursor: none !important;
}
 */

 button {
    cursor: pointer;
 }

.home-front {
    @apply w-screen bg-black 
}

.navigation-head {
    @apply w-full h-10 z-1 outline-1 px-[2%] py-[2%] fixed top-0 flex items-center
}

.front-section {
  background: linear-gradient(to top, #000000 0%, #000000 10%, #11111100 60%);
  @apply w-full h-screen;
}